.idea

# Outputs
*.json
*.csv

# Terraform
*.tfstate*
*.terraform*
*.tfvars
*.tfbackend

# Unit tests + coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
tests/terraform/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
bin/terraform