[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage ="*"
coverage-badge = "*"
pipenv-setup = "*"

[packages]
boto3 = "*"
termcolor = "*"
python-terraform = "*"
moto = "*"
colorama="*"
requests="*"

[requires]
python_version = "3.7"
